@import "tailwindcss";

@theme {
  --color-primary-50: #fff7ed;
  --color-primary-100: #ffedd5;
  --color-primary-200: #fed7aa;
  --color-primary-300: #fdba74;
  --color-primary-400: #fb923c;
  --color-primary-500: #f97316;
  --color-primary-600: #df672f;
  --color-primary-700: #c2410c;
  --color-primary-800: #9a3412;
  --color-primary-900: #7c2d12;
}

@layer utilities {
  .bg-grid-subtle {
    background-size: 24px 24px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.015) 1px, transparent 1px), linear-gradient(to bottom, rgba(0, 0, 0, 0.015) 1px, transparent 1px);
  }
}